#container {
	width:520px;
	height: 520px;
	border:1px red solid;
	background-color: #e4e4e4;
	margin:auto;
	margin-top: 50px;
}

.button {
	width:100px;
	height: 30px;
	border-radius:5px;
	background-color:rgb(195,194,208);
	display: inline;
}

#clear{
	margin-left:320px;
}

#input {
	display:inline;
}